<!-- <section class="search-bar"> -->
<div class="container search-bar">
  <div class="row">
    <div class="col-lg-10">
      <form>
        <div>
          <div class="input-group">
            <input type="search" placeholder="Search for loans, credit cards.." class="form-control">
            <div class="input-group-append">
              <div class="btn-group">
                <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown"
                  aria-haspopup="true">
                  Products
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Personal Loan</a>
                  <a class="dropdown-item" href="#">Home Loan</a>
                </div>
              </div>

            </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn-link">
                <i class="bi bi-search"></i>.
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row card-style">
    <div class="col-4">
      <div class="card spectrum-background">
        <h1 class="icon"><i class="bi bi-house"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Home Loan</h5>
          <a href="#" class="btn btn-primary-outline">Explore</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-gold">
        <h1 class="icon"><i class="bi bi-person-bounding-box"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Personal Loan</h5>
          <a routerLink="/ploan" class="btn btn-primary-outline">Explore</a>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card radial-bg">
        <h1 class="icon"><i class="bi bi-truck"></i></h1>
        <div class="card-body">
          <h5 class="card-title">Car Loan</h5>
          <a href="#" class="btn btn-primary-outline">Explore</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </section> -->



<!-- <div class="container">
  <div class="row">
    <div class="search-bar">
      <div class="search">
        <div class="row">
          <div class="col-md-2">
            <div class="search-1">
              <label class="label1">Product</label>
              <input type="text" placeholder="Loan Type..">
            </div>
          </div>
          <div class="col-md-2">
            <div class="search-1"><label class="label1">Profession</label>
              <input type="text" placeholder="Your Profession">
            </div>
          </div>
          <div class="col-md-2">
            <div class="search-1"> <label class="label1">Annual Salary</label>
              <input type="text" placeholder="Your Salary">
            </div>
          </div>
          <div class="col-md-2">
            <div class="search-1"> <label class="label1">Age</label>
              <input type="text" placeholder="Your Age">
            </div>
          </div>
          <div class="col-md-3">
            <div class="search-2"> <label class="label1">Pincode</label>
              <input type="text" placeholder="Your area code">
            </div>
          </div>
          <div class="col-md-1">
            <div class="btn rounded-circle">
              <h2 class="search-icon"><i class="bi bi-search"></i></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="product-list">
      <div class="col-md-4">
        <div class="card spectrum-background">
          <h1 class="icon"><i class="bi bi-house"></i></h1>
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Home Loan</h5>
            <a href="#" class="btn btn-primary-outline">Explore</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card bg-gold">
          <h1 class="icon"><i class="bi bi-person-bounding-box"></i></h1>
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Personal Loan</h5>
            <a routerLink="/ploan" class="btn btn-primary-outline">Explore</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="card radial-bg">
        <h1 class="icon"><i class="bi bi-truck"></i></h1>
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Car Loan</h5>
          <a href="#" class="btn btn-primary-outline">Explore</a>
        </div>
      </div>
    </div>
  </div> -->