.card-size{
   max-width: 400px;
   max-height: 200px;
   min-width: 400px;
   min-height: 200px;
}
.card-align{
    display: inline-block;
    padding: 10px;
    
}
.card-padding{
    padding: 20px;
}
.heading{
    padding: 10px;
text-align: left;
}
.image-size{
    max-width: 250px;
   max-height: 160px;
   min-width: 250px;
   min-height: 160px;
}